Repository aiktb/DontTranslateCode: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --parser html, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.svg": "prettier --write --parser html",
  "*.{json, md, vue, ts}": "prettier --write",
  "*.{ts, vue}": "eslint --fix"
}

feat: prevent `pre` elements from being translated
  src/contents/preventTranslation.ts
Due: eslint --fix

feat: `code` & `pre` font to `Intel One Mono`
  assets/IntelOneMono-Regular.woff2
  assets/logo.svg
  package.json
  src/contents/modifyFont.ts
Due: prettier --write --parser html, prettier --write, eslint --fix

chore: update icon
  assets/icon.development.png
  assets/logo.svg
Due: prettier --write --parser html

feat: configurable menu
  .eslintrc.json
  .prettierrc.json
  assets/icon.development.png
  assets/icon.png
  package.json
  pnpm-lock.yaml
  src/background/index.ts
  src/contents/constants.ts
  src/contents/modifyFont.ts
  src/contents/preventTranslation.ts
  src/popup/components/AsyncUI.vue
  src/popup/components/MenuItem.vue
  src/popup/index.html
  src/popup/index.vue
  src/popup/tailwind.css
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update readme
  README.md
Due: none

chore: rename enum field
  src/background/index.ts
  src/contents/constants.ts
  src/contents/preventTranslation.ts
  src/popup/components/AsyncUI.vue
Due: eslint --fix

fix(style): wrong button width
  src/popup/components/MenuItem.vue
Due: none

chore: remove useless dep
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: support i18n
  assets/_locales/de/messages.json
  assets/_locales/en/messages.json
  assets/_locales/es/messages.json
  assets/_locales/fr/messages.json
  assets/_locales/ja/messages.json
  assets/_locales/pt/messages.json
  assets/_locales/ru/messages.json
  assets/_locales/zh/messages.json
  package.json
  src/popup/components/AsyncUI.vue
Due: prettier --write

chore: fix typo
  src/contents/constants.ts
Due: eslint --fix

feat: support light mode
  src/popup/components/AsyncUI.vue
  src/popup/components/MenuItem.vue
Due: none

refactor: enhance accessibility
  src/popup/components/AsyncUI.vue
  src/popup/components/MenuItem.vue
Due: none

refactor: modify storage default value
  src/background/index.ts
Due: eslint --fix

chore: fix typo
  README.md
  package.json
Due: prettier --write

style: remove hover:font-bold
  src/popup/components/MenuItem.vue
Due: none

chore: specify node & npm version
  .nvmrc
  package.json
Due: prettier --write

chore: update dev message
  .github/CONTRIBUTING.md
  README.md
Due: none

fix: plasmohq/plasmo#750
  package.json
Due: prettier --write

chore: fix build message
  .github/CONTRIBUTING.md
Due: none

chore: dump deps
  package.json
Due: prettier --write

feat: add support for `Intel One Mono` italic&bold
  assets/fonts/IntelOneMono-Bold.woff2
  assets/fonts/IntelOneMono-BoldItalic.woff2
  assets/fonts/IntelOneMono-Italic.woff2
  assets/fonts/IntelOneMono-Regular.woff2
  package.json
  src/contents/modifyFont.ts
  src/popup/tailwind.css
Due: prettier --write, eslint --fix
